
node_modules/
.bun/


dist/
dist-ssr/


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.local
.env.*.local


.eslintcache


bun.lock
bun.lockb


*.local

*.db
*.db-*
# Uploads
uploads/
public/uploads/
data/*.db*
data/
!data/.gitkeep  # если нужно сохранить пустую папку

